extends ./layout/index.pug
block compartircontenido
    main.container.mt-5 
    .row 
        .col-md-5 
            img(src="img/aragon.jpg", class="img-fluid")
        .col-md-7 
            h1=pagina 
            blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ullam perspiciatis consequuntur cumque neque maxime reiciendis maiores vitae saepe rem excepturi veritatis molestiae, nam aperiam distinctio eum possimus, blanditiis asperiores.
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque ipsum dolores, repellat a commodi perferendis veniam voluptatibus vel quasi asperiores. Veniam minus deserunt fugiat veritatis cum quod accusantium consectetur iusto?
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores similique architecto error mollitia vero placeat, aspernatur saepe aperiam repellendus cupiditate labore velit officia animi magni reiciendis sequi eos laboriosam nemo!

    .lista-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/opinion.png", class="img-fluid")
                    h2.mb-4 Descripción 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit.
                .col-md-4
                    img(src="img/opinion.png", class="img-fluid")
                    h2.mb-4 Descripción 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit.
                .col-md-4
                    img(src="img/opinion.png", class="img-fluid")
                    h2.mb-4 Descripción 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit.